.footer__navigation-link {
  text-decoration: none;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__navigation-link {
    font-size: 24px;
  }
}
