.photo__item {
  list-style-type: none;
  max-width: 284px;
}

@media (max-width: 1279px) {
  .photo__item {
    max-width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .photo__item {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .photo__item {
    max-width: 288px;
  }
}
