.cover__subtitle {
  z-index: 2;
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 32px 400px 0 400px;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    padding: 32px 325px 0 325px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    padding: 32px 204px 0 204px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    padding: 16px 16px 16px 0;
  }
}
