.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 56px auto 0;
}

@media (max-width: 1079px) {
  .lead__title {
    margin: 48px auto 0;
  }
}


@media (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
