.lead__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 56px auto 0;
  padding: 0 152px 0 152px;
}

@media (max-width: 1079px) {
  .lead__title {
    margin: 48px auto 0;
    padding: 0 127px 0 127px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__title {
    padding: 0 24px 0 24px;
  }
}

@media (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0;
  }
}
