.cover__title {
  font-family: 'Inter';
  z-index: 2;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 560px;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
  }
}
