.photo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  padding: 0;
  gap: 16px 16px;
  max-width: 1184px;
  margin: 0 auto;
  max-width: 1184px;
  justify-items: center;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .photo {
    max-width: 928px;
    gap: 14px 14px;
  }
}
/*1024px*/

@media screen and (max-width: 1023px) {
  .photo {
    max-width: 720px;
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 16px 16px;
  }
}
/*768px*/

@media screen and (max-width: 767px) {
  .photo {
    width: calc(100% - 16px * 2);
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 9px;
  }
}
