.place__item {
  display: inline-grid;
  grid-template-columns: repeat(2,minmax(484px,1fr));
  box-sizing: content-box;
  padding-bottom: 80px;
  gap: 48px 40px;
}

.place__item:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 48px 30px;
  }
}

@media screen and (max-width: 1023px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__item {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 32px 32px;
  }
}
