.intro__title {
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 92px 0 0;
  max-height: 690px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
